*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Montserrat', sans-serif;
    background:#f5f5f2;
    color:#444;
}

/* HEADER */
header{
    display:flex;
    justify-content:space-between;
    align-items:Left;
    padding:25px 60px;
    background:white;
}

.logo h1{
    font-family:'Cormorant Garamond', serif;
    font-size:40px;
    color:#6b7a63;
}

.logo p{
    font-size:14px;
    letter-spacing:2px;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:30px;
}

nav a{
    text-decoration:none;
    color:#444;
    margin:0 10px;
    font-weight:500;
}

nav a:hover{
    color:#a8b29f;
}

.social-icons a{
    color:#6b7a63;
    margin-bottom:10px;
    font-size:18px;
    transition:.3s;
}

.social-icons a:hover{
    color:#a8b29f;
}

/* HERO */
.hero{
    background:url("https://source.unsplash.com/1400x600/?green,leaf") center/cover no-repeat;
    padding:120px 20px;
    display:flex;
    justify-content:center;
}

.hero-box{
    background:#efe7dd;
    padding:50px;
    text-align:center;
    max-width:600px;
    animation:fadeIn 1.2s ease-in-out;
}

.hero-box h2{
    font-family:'Cormorant Garamond', serif;
    font-size:36px;
}

button{
    background:darkgrey;
    border:none;
    padding:12px 25px;
    margin-top:15px;
    color:white;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#7a7263;
}

/* CATEGORIES */
.categories{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:60px 20px;
}

.category{
    background:#c7cdbf;
    padding:40px 70px;
    font-family:'Cormorant Garamond', serif;
    font-size:24px;
    color:white;
    transition:.3s;
}

.category:hover{
    background:#a8b29f;
}

/* NEWSLETTER */
.newsletter{
    background:#e3c6a8;
    text-align:center;
    padding:50px 20px;

}

.newsletter input{
    padding:12px;
    margin:10px;
    width:220px;
    border:none;
}

/* BLOG */
.blog{
    padding:80px 60px;
}

.blog-row{
    display:flex;
    align-items:center;
    gap:50px;
    margin-bottom:60px;
    animation:fadeIn 1.5s ease;
}

.blog-row img{
    width:50%;
}

.blog-content{
    background:#efe7dd;
    padding:40px;
}

.blog-row.reverse{
    flex-direction:row-reverse;
}

/* POPULAR */
.popular{
    background:#8e9775;
    color:white;
    text-align:center;
    padding:80px 20px;
}

.popular-grid{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:40px;
}

.popular-card{
    position:relative;
}

.popular-card img{
    width:300px;
}

.overlay{
    position:relative;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
    background:#efe7dd;
    padding:20px;
    text-align:left;
}

/* CONTACT */
.contact{
    background:#e3c6a8;
    padding:70px 20px;
    text-align:center;
}

.contact form{
    max-width:500px;
    margin:auto;
}

.contact input,
.contact textarea{
    width:50%;
    padding:12px;
    margin:10px 0;
    border:none;
}

/* FOOTER */
footer{
    text-align:center;
    padding:20px;
    background:white;
}

/* ANIMATION */
@keyframes fadeIn{
    from{opacity:0; transform:translateY(20px);}
    to{opacity:1; transform:translateY(0);}
}

/* MOBILE */
@media(max-width:768px){

header{
    flex-direction:column;
    gap:20px;
}

.categories{
    flex-direction:column;
    align-items:center;
}

.blog-row{
    flex-direction:column;
}

.blog-row img{
    width:100%;
}

.popular-grid{
    flex-direction:column;
}



/* Icon Container */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* Circular Icons */
.social-icons a {
    width: 50px;
    height: 50px;
    background-color: #6b7a63;  /* sage green */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.3s ease;
}

/* Hover Effect */
.social-icons a:hover {
    background-color: #4f5d48;
    transform: translateY(-5px);
}

}
